body{
    --bodyColor: #15193C;
    --grisMoyen:#ccc;
    --grisClair:#eee;
    --scissors:#ECA318;
    --spock:#4ABAD0;
    --lizards:#8A57E2;
    --rock:#DC3D5B;
    --paper:#5572F2;
    background-color: var(--bodyColor);
    min-height:100vh;
    position: relative;
}
.container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    width: 40rem;
    margin-bottom: 5rem;
}
h1{
    display: flex;
    align-items: center;
    color:white;
    padding-left: 1rem;
    line-height: 1.2;
}
.score{
    background-color: white;
    border-radius: 5px;
    padding: .5rem .5rem;
    text-align: center;
    width: 8rem;
    height: 8rem;
    margin: 0.3rem;
}
.scoreTitre{
color: var(--grisMoyen);
font-size: 2rem;
}
.scoreNombre{
    font-weight: 900;
    font-size: 2.5rem;
}
.pentagone{
    height: 25rem;
    width: 25rem;
    background-image: url(../images/bg-pentagon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.signes{
    width: 25rem;
    height: 25rem;
    /* background-color: black; */
    position:absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.ligne{
    width: 25rem;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
}
.icone{
    background-color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: width 0.3s, height 0.3s, background-color 0.3s, border 0.3s;
}
.icone:hover{
    width: 7.2rem;
    height: 7.2rem;
    border: none;
    background-color: #2ecc71;
}
.ligne1{
    justify-content: center;
    margin-top:-2rem;
}
.ligne2{
    width: 29rem;
    margin: 2rem 0 10rem -2rem;
}
.ligne3{
    padding: 0 2rem;
}
.scissors{
    background-image:url(../images/icon-scissors.svg);
    border: 1rem solid var(--scissors);
}
.spock{
    background-image:url(../images/icon-spock.svg);
    border: 1rem solid var(--spock);
}
.paper{
    background-image:url(../images/icon-paper.svg);
    border: 1rem solid var(--paper);
}
.lizards{
    background-image:url(../images/icon-lizard.svg);
    border: 1rem solid var(--lizards);
}
.rock{
    background-image:url(../images/icon-rock.svg);
    border: 1rem solid var(--rock);
}
footer{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.rules{
    background-color: var(--bodyColor);
    border: 1px solid white;
    border-radius: 5px;
    padding: .3rem 2rem;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s,  color 0.3s;
}
.rules:hover{
    background-color: white;
    color: var(--bodyColor);
}

.imgRules{
    width: 25rem;
    height: 25rem;
    background-color: white;
    background-image:url(../images/image-rules-bonus.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
.duel{
    display: flex;
    width: 40rem;
    justify-content: space-around;
}
.iconDuel{
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.opacity{
    opacity: 0.2;
}
.duelTitre{
    color: white;
    margin-bottom: 1rem;
}

.hidden{
    display: none;
}